trigger:
  branches:
    include:
    - main
    - develop
  paths:
    include:
      - src

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'release'

steps:
- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: '**/*.csproj'
- task: DotNetCoreCLI@2
  displayName: 'Build project'
  inputs:
    command: 'build'
    projects: '**/*.csproj'
    arguments: '--configuration $(buildConfiguration)'
- task: SonarCloudPrepare@3
  inputs:
    SonarQube: 'SonarQube Cloud'
    organization: 'vibesphere'
    scannerMode: 'dotnet'
    projectKey: 'vibesphere_summarization-app'
    projectName: 'summarization-app'
- task: SonarCloudAnalyze@3
  inputs:
    jdkversion: 'JAVA_HOME_17_X64'
- task: SonarCloudPublish@3
  inputs:
    pollingTimeoutSec: '300'
- task: DotNetCoreCLI@2
  displayName: 'Publish project'
  inputs:
    command: 'publish'
    publishWebProjects: true
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: true
- task: PublishPipelineArtifact@1
  displayName: 'Publish app artifact'
  inputs:
    targetPath: '$(Build.ArtifactStagingDirectory)'
    artifactName: SummarizationAPI
    publishLocation: 'pipeline'