trigger:
  branches:
    include:
    - main  # Assuming your main branch is named 'main'
  paths:
    include:
      - infra

pool:
  vmImage: 'windows-latest'

variables:
  environment: production
  azureSubscriptionConnection: 'azure-stijn-sub-connection'
  azureSubscriptionId: '81b37114-2f13-4d8c-829c-b2c208ec56e4'
  resourceGroupName: 'SummarizationApp'
  location: 'swedencentral'
  azureOpenAIServiceName: 'u2u-summarization-api'
  webAppName: 'u2u-summarization-api-webapp'

stages:
  - stage: Deploy Azure OpenAI with GPT-4o-mini
    jobs:
      - deployment: AzureOpenAIDeployment
        environment: '$(environment)'
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                - task: AzureResourceManagerTemplateDeployment@3
                  displayName: Deploy Azure OpenAI Resource with GPT-4o-mini
                  inputs:
                    deploymentScope: 'Resource Group'
                    azureResourceManagerConnection: '$(azureSubscriptionConnection)'
                    subscriptionId: '$(azureSubscriptionId)'
                    action: 'Create Or Update Resource Group'
                    resourceGroupName: '$(resourceGroupName)'
                    location: '$(location)'
                    templateLocation: 'Linked artifact'
                    csmFile: 'infra/azure-openai.bicep'
                    overrideParameters: '-accounts_devops_demo_summarizer_name $(azureOpenAIServiceName)'
                    deploymentMode: 'Incremental'
                    deploymentOutputs: 'openAIOutputsJSON'
                - task: PowerShell@2
                  inputs:
                    targetType: 'inline'
                    script: |
                      $openAIOutputs = ConvertFrom-Json '$(openAIOutputsJSON)'
                      $openAIEndpoint=$openAIOutputs.azureOpenAIDeploymentEndpoint.value
                      Write-Host "##vso[task.setvariable variable=azureOpenAIEndpoint;]$openAIEndpoint"
  
  - stage: Deploy App Service Plan and Web App
    jobs:
    - deployment: AppServiceDeployment
      environment: '$(environment)'
      strategy:
        runOnce:
          deploy:
           steps:
             - checkout: self
             - task: AzureResourceManagerTemplateDeployment@3
               inputs:
                 deploymentScope: 'Resource Group'
                 azureResourceManagerConnection: '$(azureSubscriptionConnection)'
                 subscriptionId: '$(azureSubscriptionId)'
                 action: 'Create Or Update Resource Group'
                 resourceGroupName: '$(resourceGroupName)'
                 location: '$(location)'
                 templateLocation: 'Linked artifact'
                 csmFile: 'infra/web-app.bicep'
                 overrideParameters: '-webAppName $(webAppName) -azureOpenAIDeploymentEndpoint $(azureOpenAIEndpoint)'
                 deploymentMode: 'Incremental'