trigger:
  branches:
    include:
    - main
  paths:
    include:
      - infra

pool:
  vmImage: 'windows-latest'


stages:
- stage: LintBicep
  jobs:
    - job: LintAzureOpenAI
      displayName: Lint Azure Open AI Bicep
      steps:
      - template: templates/lint-bicep.yml
        parameters:
          bicepFilePath: infra/azure-openai.bicep
    - job: LintWebApp
      displayName: Lint Web App Bicep
      steps:
      - template: templates/lint-bicep.yml
        parameters:
          bicepFilePath: infra/web-app.bicep