trigger:
  branches:
    include:
    - main
  paths:
    include:
      - infra

pool:
  vmImage: 'windows-latest'

variables:
  azureOpenAIServiceName: 'u2u-summarization-api'
  webAppName: 'u2u-summarization-api-webapp'

stages:
- stage: LintBicep
  jobs:
    - job: LintAzureOpenAI
      displayName: Lint Azure Open AI Bicep
      steps:
      - template: templates/lint-bicep.yml
        parameters:
          bicepFilePath: infra/azure-openai.bicep
    - job: LintWebApp
      displayName: Lint Web App Bicep
      steps:
      - template: templates/lint-bicep.yml
        parameters:
          bicepFilePath: infra/web-app.bicep

- template: templates/deploy-infrastructure.yml
  parameters:
    environmentType: Development
    resourceGroupName: SummarizationApiDev
    serviceConnectionName: azure-stijn-sub-connection
    webAppName: $(webAppName)
    azureOpenAIServiceName: $(azureOpenAIServiceName)

- template: templates/deploy-infrastructure.yml
  parameters:
    environmentType: Production
    resourceGroupName: SummarizationApiProd
    serviceConnectionName: azure-stijn-sub-connection
    webAppName: $(webAppName)
    azureOpenAIServiceName: $(azureOpenAIServiceName)